/*попробовать избавиться от пиксилей*/
.post {
    border: 1px solid silver;
    /*border-radius: 10%;*/
    margin-top: 1%;
    /*float: left;*/
    margin-left: 1%;
    padding: 1%;
    /*width: 32%;*/
    min-height: 300px;
    /*max-height: 600px;*/
    transition: background 1s linear;

}


/*Стили для текста поста*/
.date {
    text-align: left;
}

.theme {
    text-align: left;
}

.disc {
    text-align: left;
}


/*анимация наведения*/
.container :hover{
    background: black;
    color: white;
    /*display: block;*/
}



.post ul  {
    pointer-events: none;
}





/*ul {*/
/*    color: green;*/
/*}*/