.App {
  text-align: center;
  display: grid;
  background-color: white;
  grid-template-rows:  60px 20fr 0.5fr;
}

.App-header {

}

.Footer {
  border-top: 1px solid silver;
  align-content: center;
  /*max-height: 50px;*/
  min-height: 50px;
}

